@import "colors";

.search-box {
  display: flex;
  justify-content: center;
  background-color: #EBEEF0;
  border-radius: 9999px;
  height: 2em;

  input[type=text] {
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
  }

  input[type=text]:focus {
    background-color: white;
    border: 1px solid $focus-blue;
    border-radius: 9999px;
    outline: none;
  }
}

.edit-profile-button {
  display: block;
  background-color: white;
  border-radius: 9999px;
  color: rgb(29, 161, 242);
  width:8em;
  height: 2em;
  margin:20px;
}

.tweet-button {
  display: block;
  background-color: rgb(29, 161, 242);
  border-radius: 9999px;
  color: aliceblue;
  width:8em;
  height: 2em;
  margin:20px;
}

.tweet-button:hover, .edit-profile-button:hover {
  background-color: $light-blue-hover;
  cursor: pointer;
}

.profile-pic {
  display: inline;

  img {
    border-radius: 30px;
    margin: 10px;
    height: 50px;
    width: 50px;
  }
}