@import "colors";

.search-box {
  display: flex;
  justify-content: center;
  background-color: #EBEEF0;
  border-radius: 9999px;
  height: 2em;

  input[type=text] {
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
  }

  input[type=text]:focus {
    background-color: white;
    border: 1px solid $focus-blue;
    border-radius: 9999px;
    outline: none;
  }
}

.edit-profile-button {
  display: block;
  background-color: white;
  border-radius: 9999px;
  color: rgb(29, 161, 242);
  width:8em;
  height: 2em;
  margin:20px;
}

.tweet-button {
  display: block;
  background-color: rgb(29, 161, 242);
  border-radius: 9999px;
  color: aliceblue;
  width:8em;
  height: 2em;
  margin:20px;
}

.save-button {
  display: block;
  background-color: black;
  border-radius: 9999px;
  color: aliceblue;
  width:8em;
  height: 2em;
}

.close-button {
  border: none;
  background: none;
  border-radius: 20px;
  width: 2em;
}

.tweet-button:hover, .edit-profile-button:hover, .save-button:hover {
  background-color: $light-blue-hover;
  cursor: pointer;
}

.close-button:hover {
  background: $light-blue-hover;
  cursor: pointer;
}

.profile-pic {
  display: inline;

  img {
    border-radius: 30px;
    margin: 10px;
    height: 50px;
    width: 50px;
  }
}

.tweet {
  border: 1px solid $twitter-blue;
  border-radius: 15px;
  margin: 5px;
  text-align: left;

  b {
    margin: 10px;
  }

  p {
    margin: 5px;
  }

  .post-actions {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0px 5px 0px;
    padding: 5px;
    border-radius: 15px;

    .comment-button:hover {
      fill: $light-blue-hover;
      cursor: pointer;
    }

    .retweet-button:hover {
      fill: darkseagreen;
      cursor: pointer;
    }

    .like-button:hover, .like-button.clicked {
      fill: red;
      cursor: pointer;

    }

    .share-button:hover {
      fill: $light-blue-hover;
      cursor: pointer;
    }

    .delete-button:hover {
      fill: saddlebrown;
      cursor: pointer;
    }
  }
}