.search-box {
  display: flex;
  justify-content: center;
  background-color: #EBEEF0;
  border-radius: 9999px;
  height: 2em;
}
.search-box input[type=text] {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
}
.search-box input[type=text]:focus {
  background-color: white;
  border: 1px solid deepskyblue;
  border-radius: 9999px;
  outline: none;
}

.edit-profile-button {
  display: block;
  background-color: white;
  border-radius: 9999px;
  color: #1da1f2;
  width: 8em;
  height: 2em;
  margin: 20px;
}

.tweet-button {
  display: block;
  background-color: #1da1f2;
  border-radius: 9999px;
  color: aliceblue;
  width: 8em;
  height: 2em;
  margin: 20px;
}

.tweet-button:hover, .edit-profile-button:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

.profile-pic {
  display: inline;
}
.profile-pic img {
  border-radius: 30px;
  margin: 10px;
  height: 50px;
  width: 50px;
}

.tweet {
  border: 1px solid blue;
  border-radius: 15px;
  margin: 5px;
  text-align: left;
}
.tweet b {
  margin: 10px;
}
.tweet p {
  margin: 5px;
}
.tweet .post-actions {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 0px 5px 0px;
  padding: 5px;
  border-radius: 15px;
}
.tweet .post-actions .comment-button:hover {
  fill: lightskyblue;
  cursor: pointer;
}
.tweet .post-actions .retweet-button:hover {
  fill: darkseagreen;
  cursor: pointer;
}
.tweet .post-actions .like-button:hover, .tweet .post-actions .like-button.clicked {
  fill: red;
  cursor: pointer;
}
.tweet .post-actions .share-button:hover {
  fill: lightskyblue;
  cursor: pointer;
}
.tweet .post-actions .delete-button:hover {
  fill: saddlebrown;
  cursor: pointer;
}

.page-container {
  display: flex;
  width: 80%;
  margin: auto;
}
.page-container .nav-container {
  flex-grow: 1;
}
.page-container .nav-container .nav-logo {
  width: 10%;
}
.page-container .nav-container .nav-logo svg {
  border-radius: 99999px;
}
.page-container .nav-container .nav-logo :hover {
  background-color: lightskyblue;
  cursor: pointer;
}
.page-container .nav-container .nav-item {
  display: flex;
  border: 1px solid blue;
  border-radius: 15px;
  height: 2em;
  margin: 5px;
  align-items: center;
}
.page-container .nav-container .nav-item svg {
  height: 50%;
  margin: 0.5em;
  display: inline;
}
.page-container .nav-container .nav-item:hover {
  background-color: lightskyblue;
  cursor: pointer;
}
.page-container .newsfeed-container {
  margin: 0px 30px;
  flex-grow: 3;
  text-align: left;
}
.page-container .newsfeed-container .newsfeed-post-editor textarea:focus {
  outline-color: deepskyblue;
}
.page-container .profile-container {
  margin: 0px 100px;
  flex-grow: 2;
}
.page-container .profile-container .profile-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page-container .profile-container .profile-header h3 {
  margin: 4px 0px;
}
.page-container .profile-container .profile-header svg {
  margin: 0 20px;
}
.page-container .profile-container .profile-header svg :hover {
  fill: lightskyblue;
}
.page-container .profile-container .profile-body {
  text-align: left;
}
.page-container .profile-container .profile-body .cover-photo {
  height: 160px;
}
.page-container .profile-container .profile-body .cover-photo img {
  width: 100%;
  height: 225px;
  overflow: hidden;
}
.page-container .profile-container .profile-body .profile-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-container .profile-container .profile-body .profile-edit .profile-pic img {
  border-radius: 55px;
  border: 4px solid white;
  margin: 10px;
  height: 100px;
  width: 100px;
}
.page-container .profile-container .profile-body .profile-edit .profile-pic .profile-pic-captions {
  margin: 0px 20px;
}
.page-container .profile-container .profile-body h4 {
  margin: 0;
}
.page-container .profile-container .profile-body .profile-about .profile-about__extra-details, .page-container .profile-container .profile-body .profile-about .profile-about__following-followers {
  margin: 5px 0;
}
.page-container .profile-container .profile-body .profile-about .profile-about__extra-details span, .page-container .profile-container .profile-body .profile-about .profile-about__following-followers span {
  margin: 0 20px 0 0;
}
.page-container .profile-container .profile-body .profile-about .profile-about__extra-details svg, .page-container .profile-container .profile-body .profile-about .profile-about__following-followers svg {
  height: 1em;
  width: 1em;
}
.page-container .profile-container .profile-activity {
  margin: 25px 0;
}
.page-container .profile-container .profile-activity .activity-nav-bar {
  display: flex;
}
.page-container .profile-container .profile-activity .activity-nav-bar .activity-nav-item {
  flex-grow: 1;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
.page-container .profile-container .profile-activity .activity-nav-bar .selected {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.page-container .profile-container .profile-activity .activity-nav-bar .activity-nav-item:hover {
  cursor: pointer;
  background-color: lightskyblue;
}
.page-container .trends-container {
  flex-grow: 2;
  min-width: 200px;
}
.page-container .trends-container .trends {
  background-color: #EBEEF0;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
}
.page-container .trends-container .trends .trends-title {
  display: flex;
  justify-content: space-around;
}
.page-container .trends-container .trends .trends-title svg {
  height: 1em;
  width: 1em;
}
.page-container .trends-container .trends .trend-item {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
